// content related overrides/styles


.field-type-availability-calendar-booking-formlet .form-submit {
  position: inherit !important;
}

#cal-view-1 > div.field-label {
  display: none;
}


form.Drupal-availabilityCalendar-BookingFormlet-processed button.form-submit {
  .btn();
  .btn-success();
}

input.acbf-reset-both,
input.acbf-reset-from,
input.acbf-reset-to {
  .btn();
  .btn-default();
  display: inherit;
  margin-bottom: inherit;
  font-weight: inherit;
  text-align: inherit;
  vertical-align: inherit;
  padding: inherit;
  font-size: inherit;
  line-height: inherit;
  border-radius: inherit;
  color: inherit;
  background-color: inherit;
  border-color: inherit;
}


div.webform-component--delivery-address--state label.control-label {
  display: block;
}
